<h2 class="subheader">
  About
</h2>
<p>
  Dibs is a marketplace for free stuff. We create efficiency by connecting people who have items of no value with people who see value in them. We make this process easier and more fun than any other site in the world.
</p>
<h2 class="subheader">
  Lister Information
</h2>
<p>
  Post anything to our site you want taken away for free. Chances are, someone out there could use your stuff. Users can find your items and come claim them. You get rid of unwanted items quickly and easily, you keep your stuff out of the landfills, and you make someone out there a little happier. 
</p>
<h2 class="subheader">
  Dibber Information
</h2>
<p>
  Use Dibs to find cool things people list for free. If something pops up that you really want, pay $1 to Dibs! the item. The location will become hidden to everyone else on the site and you will have the best chance of claiming your treasure.
</p>