<h2 class="subheader">
  Find Your Treasure
</h2>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-image">
	<%=link_to post do  %>
      <% image = post.images.first %>
      <% image = image.pic.url(:medium) if image  %>
      <% if image %>
        <%= image_tag image %>
      <% else %>
        <%= image_tag "missing.jpg" %>
      <% end %>
    <% end %>
	</div>
  </div>
<% end %>

