* { margin: 0; padding: 0; }
html {  } /* for rems */


h1 { font: bold 3.0rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2 { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3 { font: bold 1.5rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

body {
  background-color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif; 
  color: #333; 
  background: #e8ecf0 url(denim2.png) no-repeat 50% 350px;
}

p, ol, ul, td {
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

div.row, .alert {
	margin-left: 150px;
}

.post {
	margin: 35px 30px;
	line-height: 23px;
	.post-title {
		font-weight: bold;
	}
}

.top-link-1 {
	position: absolute;
	top: 15px;
	font-weight: bold;
	color: #fff;
}

a.edit-links:link,visited{
  color: #0B02B3;
  background-color: transparent;
}
a.edit-links:hover{
  color: #02E036;
  background-color: transparent;
}